@fontface {
	font-family: Yataghan;
	src: url(yataghan.ttf);
}
body {

background: #e26f1b;
color: #000;
font-family: 'Yataghan', sans-serif;

}





.content {
	max-width: 100%;
	height: 400px;
	width: 800px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;

    a {
    text-decoration-style: none;
    color: #fff;

	}

}

a {
	text-decoration: none;
	color: #fff;
}

#hi{
	font-size: 60px;
	text-align: left;
}
 #reserve {

 	font-size: 60px;
    margin-top: -40px;

 }

#ayy-lmao {
	font-size: 60px;
}

#addams {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
 #proj{
    margin-top: 20px;

 }
