.join-banner {
  height: 320px;
  background-image: url('/images/assassins-banner.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 30%;

  h1 {
    margin-top: 0;
    color: #FFF;
    -webkit-transform: translateY(70%);
    -ms-transform: translateY(70%);
    transform: translateY(70%);
  }

  .join-header {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
  }
}

.join-tail {
  background-color: #000;

  h2 {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
  }
}

.npp-banner {
  background-color: #000;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF;

  h2 {
    margin-top: 0;
    color: #FFF;
  }
}

.tisbert-banner {
  background-color: #d37130;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF;

  h2 {
    margin-top: 0;
    color: #FFF;
  }

  img {
    width: 100%;
  }
}
