/* line 5, /Users/mozilla/code/scotch-public/source/stylesheets/alumni.css.scss */
.alumni-content .alumni-header {
  margin-bottom: 20px;
  border-bottom-width: 5px;
  border-bottom-style: dashed;
  border-bottom-color: #d37130; }
/* line 12, /Users/mozilla/code/scotch-public/source/stylesheets/alumni.css.scss */
.alumni-content h1.big {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 80px; }
/* line 19, /Users/mozilla/code/scotch-public/source/stylesheets/alumni.css.scss */
.alumni-content h2 {
  margin-top: 0;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 56px; }
/* line 27, /Users/mozilla/code/scotch-public/source/stylesheets/alumni.css.scss */
.alumni-content .endowment-banner {
  height: 400px; }
