/* line 1, /Users/mozilla/code/scotch-public/source/stylesheets/npp.css.scss */
.npp-content {
  background: #000;
  color: #FFF; }
  /* line 5, /Users/mozilla/code/scotch-public/source/stylesheets/npp.css.scss */
  .npp-content h1 {
    color: #FFF; }
  /* line 9, /Users/mozilla/code/scotch-public/source/stylesheets/npp.css.scss */
  .npp-content h2 {
    color: #FFF; }
