/* line 1, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
.join-banner {
  width: 100%;
  height: 320px;
  background-color: #000;
  background-image: url("/images/assassins-banner-7be6935e.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 30%; }
  /* line 10, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
  .join-banner h1 {
    margin-top: 0;
    color: #FFF;
    -webkit-transform: translateY(70%);
    -ms-transform: translateY(70%);
    transform: translateY(70%); }
  /* line 18, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
  .join-banner .join-header {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%; }

/* line 24, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
.join-tail {
  background-color: #000; }
  /* line 27, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
  .join-tail h2 {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF; }

/* line 35, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
.npp-banner {
  background-color: #000;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF; }
  /* line 42, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
  .npp-banner h2 {
    margin-top: 0;
    color: #FFF; }

/* line 48, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
.tisbert-banner {
  background-color: #d37130;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF; }
  /* line 54, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
  .tisbert-banner h2 {
    margin-top: 0;
    color: #FFF; }
  /* line 59, /Users/mozilla/code/scotch-public/source/stylesheets/recruitment.css.scss */
  .tisbert-banner img {
    width: 100%; }
