/* line 1, /Users/mozilla/code/scotch-public/source/stylesheets/tisbert.css.scss */
.tisbert-content {
  background-color: #d37130;
  color: #FFF; }
  /* line 5, /Users/mozilla/code/scotch-public/source/stylesheets/tisbert.css.scss */
  .tisbert-content h1 {
    color: #FFF; }
