<div class="row">
  <div class="col-md-12">
    <div class="npp-banner">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= image_tag 'npp-logo.jpg' %>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <h3>First Improv Workshop</h3>
          <strong>Wednesday, August 27 @ 8pm in PH A18B</strong>
          <p>Come to the No Parking Player's first workshop of the year, where hilarity will ensue!</p>
        </div>
      </div>
    </div>
  </div>
</div>
