---
title: Scotch'n'Soda Theatre
---

<div class="banner">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag 'h2s-cover.jpg', style: 'width: 100%' %>
      <br /><br />
      <center>
        <a href="https://www.eventbrite.com/e/how-to-succeed-in-business-without-really-trying-tickets-13748400837" class="btn btn-primary btn-lg">Reserve Tickets</a>
      </center>
      <br /><br />
    </div>
  </div>
</div>

