---
title: Scotch'n'Soda Theatre
---

<div class="banner">
  <div class="row">
    <div class="col-md-12">
      <h2>7th Annual Charity Cabaret Ticket Reservations</h2>
      <center>
        <a href="https://www.eventbrite.com/e/7th-annual-charity-cabaret-tickets-13014730409" class="btn btn-primary btn-lg">Reserve</a>
      </center>
      <br /><br />
    </div>
  </div>
</div>

