---
title: Scotch'n'Soda Theatre
---

<div class="row">
  <div class="col-md-12">
    <div class="join-banner">
      <div class="join-header">
        <h1>Scotch'n'Soda Theatre</h1>
      </div>
    </div>
    <div class="join-tail">
      <h2>Fall Recruitment</h2>
    </div>
  </div>
  <!-- TODO: image background for header -->
  <div class="banner">
    <div class="col-md-4 col-md-offset-2">
      <h3>General Body Meeting</h3>
      <strong>Saturday, August 31 @ 5pm in PH 100</strong>
      <p>Join us for our first GBM of the year with every current and prospective member of Scotch'n'Soda. Come here about everything to look forward to this year!</p>

      <h3>How to Succeed Auditions</h3>
      <strong>September 3 - 5</strong>
      <p>Sign up to audition for our Fall musical, How to Succeed in Business Without Really Trying! We'll post a link here when signups are ready.</p>
    </div>
    <div class="col-md-4">
      <h3>Fall BBQ</h3>
      <strong>Saturday, September 6 @ 1pm at the <%= link_to 'Donner Ditch', "https://www.google.com/maps/place/Donner+Ditch/@40.4421583,-79.9412006,19z/data=!4m7!1m4!3m3!1s0x8834f220e6659f15:0xfc2acad34918d6e6!2sBaker-Porter+Hall,+Carnegie+Mellon+University,+Pittsburgh,+PA+15213!3b1!3m1!1s0x0:0xb69e0874d5fb4017" %></strong>
      <p>Come to our Fall Recruiment BBQ at the Donner Ditch! Meet everyone and find out how to get involved if you missed GBM.</p>

      <h3>Cambridge Footlights</h3>
      <strong>Saturday, September 6 @ 8pm & 10pm in McConomy Auditorium</strong>
      <p>See the sensational British sketch comedy troupe, the Cambridge Footlights in their 5th annual visit to Carnegie Mellon, produced by Scotch'n'Soda! Tickets sell out fast for this production, so watch this site for updates.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="npp-banner">
      <h2>No Parking Players</h2>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <h3>First Improv Workshop</h3>
          <strong>Wednesday, August 27 @ 8pm in PH A18B</strong>
          <p>Come to the No Parking Player's first workshop of the year, where hilarity will ensue!</p>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <%= image_tag 'npp-logo.jpg' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tisbert-banner">
      <h2>Tisbert Sketch Comedy</h2>
      <div class="row">
        <!-- Picture here -->
        <div class="col-md-4 col-md-offset-6">
          <h3>Tisbert Workshop</h3>
          <strong>Wednesday, August 27 @ 8pm in PH A18B</strong>
          <p>Come to the Tisbert's first workshop of the year, where hilarity will ensue!</p>
        </div>
      </div>
    </div>
  </div>
</div>
