---
title: No Parking Players
---
<div class="npp-content">
  <center><%= image_tag 'npp-logo.jpg' %></center>

  <div class="row">
    <h1>About NPP</h1>
    <div class="col-md-10 col-md-offset-1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus neque quis est egestas elementum. Donec sed sodales orci, ac vestibulum magna. Donec congue sed odio quis congue. Morbi sed placerat sapien. Donec iaculis, velit et fringilla euismod, sapien turpis venenatis odio, id vehicula leo diam vel diam. Sed mollis vehicula nulla nec dictum. Nullam non sagittis odio. Proin auctor vitae neque sit amet vestibulum. Etiam sit amet congue massa. Maecenas malesuada rhoncus eros, et cursus sem eleifend eu. Suspendisse a diam diam. Pellentesque fringilla tortor consectetur purus vehicula, quis adipiscing nunc pretium. Sed id elementum ante.</p>
    </div>
  </div>
</div>
