---
title: No Parking Players
---
<div class="npp-content">
  <center><%= image_tag 'npp-logo.jpg' %></center>

  <div class="row">
    <h1>About NPP</h1>
    <div class="col-md-10 col-md-offset-1">
      <p>The No Parking Players is Carnegie Mellon's premiere improv troupe, and a sub-troupe of Scotch'n'Soda Theatre. We put on bi-weekly improv shows and improv "jams", as well as weekly improv workshops.</p>
    </div>
  </div>
</div>
