---
title: Tisbert
---

<div class="tisbert-content">
  <center><%= image_tag 'tisbert-logo.png' %></center>
  <div class="row">
    <h1>About Tisbert</h1>
    <div class="col-md-10 col-md-offset-1">
      <p>sdkfjlkdsjfsdjfwefopjwefpoweopfjewpofjewpofjewpfjsdfjdksj fdsjf lkdsj fklsdjfkl ;lksj flksdjf;lasklf jsdf</p>
    </div>
  </div>
</div>
